@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 222 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #ff6 99%, #fff 100%, #fff 100%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 222 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 222, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #ff6 99%, #fff 100%, #fff 100%);
  }
}

.square {
  width: 22%;
  border: 4px solid;
  min-width: 110px;
  min-height: 110px;
  border-radius: 50%;
  margin: 6px;
  box-shadow: inset 2px 20px 30px #000;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -ms-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  transition: width 1s;
  transition-timing-function: linear;
  transition: all .2s ease-in-out;
}

.square:hover {
  border-color: white;
  transition: all 3s ease-out;
  transition: width 3s;
  transition-timing-function: linear;
  transition-duration: 2s, 1s;
  border: 1px solid;
}

.square:active {
  transition: all 3s ease-out;
  transition: width 3s;
  transition-timing-function: linear;
  transition-duration: 2s, 1s;
  border: 1px solid;
  animation: gradient 100ms;
}

.square:clicked {
  border-color: limegreen;
  -moz-transform: scale(0.9) rotate(200deg) translateX(0px) translateY(1px);
  -webkit-transform: scale(0.9) rotate(200deg) translateX(0px) translateY(1px);
  -o-transform: scale(0.9) rotate(200deg) translateX(0px) translateY(1px);
  -ms-transform: scale(0.9) rotate(200deg) translateX(0px) translateY(1px);
  transform: scale(0.9) rotate(200deg) translateX(0px) translateY(1px);
  box-shadow: 1px 4px 14px limegreen;
  transition: all 3s ease-out;
  transition: width 3s;
  transition-timing-function: linear;
  transition-duration: 2s, 1s;
  animation: gradient 100ms;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    max-width: 440px;
    margin: 50px auto;
}

.mole {
  background-image: url('https://federicofioravanti.github.io/whack-a-mole/img/dawson.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

.mole:active {
  background-image: url('https://federicofioravanti.github.io/whack-a-mole/img/dawson.png');
  background-size: cover;
  -moz-transform: scale(2.0) rotate(200deg);
  -webkit-transform: scale(2.0) rotate(200deg);
  -o-transform: scale(2.0) rotate(200deg);
  -ms-transform: scale(2.0) rotate(200deg);
  transform: scale(2.0) rotate(200deg);
  transition: all 1s ease-out;
  transition: width 1s;
  transition-timing-function: linear;
  transition-duration: 1s, 1s;
  background-size: cover;
  border: 2px;
}

.mole:clicked {
  background-size: cover;
  -moz-transform: scale(2.0) rotate(200deg);
  -webkit-transform: scale(2.0) rotate(200deg);
  -o-transform: scale(2.0) rotate(200deg);
  -ms-transform: scale(2.0) rotate(200deg);
  transform: scale(2.0) rotate(200deg);
  transition: all 1s ease-out;
  transition: width 1s;
  transition-timing-function: linear;
  transition-duration: 1s, 1s;
  background-size: cover;
  border: 2px;
}

.unmute-button {
    padding: 10px 35px;
    margin: calc(2em + 1px) 0.5em 0 0;
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
    border: 0px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 11px;
    outline: none;
}

.unmute-button:hover, .unmute-button:focus { opacity: 0.6; }
